<div
  class="container mat-elevation-z3"
  [style.background-color]="data().backgroundColor ?? 'white'"
  [style.color]="data().textColor ?? 'inherit'"
  cdkDrag
>
  <h3 class="m-0">{{ data().label }}</h3>

  <button
    mat-icon-button
    class="settings-button"
    (click)="showOptions.set(true)"
    [style.--mdc-icon-button-icon-button]="data().textColor ?? 'inherit'"
    cdkDragHandle
  >
    <mat-icon>settings</mat-icon>
  </button>

  <div class="content">
    @if (data().content) {
    <ng-container [ngComponentOutlet]="data().content" />

    } @if (showOptions()) { <app-widget-options [(showOptions)]="showOptions" [data]="data()" /> }

    <div *cdkDragPlaceholder></div>
  </div>
</div>
