:host {
  position: absolute;
  z-index: 2;
  background: whitesmoke;
  color: black;
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  > div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.move-forward-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
}

.move-backward-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
  right: 5px;
}
